<input
  type="text"
  [(ngModel)]="filterValue"
  class="form-control mb-3"
  placeholder="type..."
  (input)="filterProducts()"
/>

<div class="row g-3">
  @for (prd of filteredProducts ; let i = $index ; track prd.id) {
  <div class="col-6 col-md-6 col-lg-4">
    <div class="card text-start" appCardShadow>
      <p>Product Index : {{ i + 1 }}</p>
      <img class="card-img-top" [src]="prd.image" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">
          {{ prd.name }}
        </h4>

        <p class="card-text">
          <span>Price : {{ prd.price | currency }}</span>
          <span> - Quantity : {{ prd.quantity }}</span>
        </p>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <!-- <button class="btn btn-primary" (click)="showDetails(prd.id)">
          Show Details
        </button> -->

        <!-- <button class="btn btn-primary" [routerLink]="['/products', prd.id]">
          Show Details
        </button> -->

        <button class="btn btn-primary" (click)="goToDetails(prd.id)">
          Show Details
        </button>
      </div>
    </div>
  </div>
  } @empty {
  <div>
    <p class="text-center fs-3 text-danger">No Products Available</p>
  </div>
  }
</div>
