<h2>Our Products</h2>
<div class="row">
  @for (parentProduct of products; track parentProduct.id) {

  <div class="col-4">
    <app-product-card
      [product]="parentProduct"
      (addToCart)="handleAddToCart($event)"
    ></app-product-card>
  </div>
  }
</div>

<hr />

<h3>Cart</h3>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total price for each prod</th>
  </tr>

  @for (cartItem of cart; track cartItem.id) {

  <tr>
    <td>{{ cartItem.name }}</td>
    <td>{{ cartItem.price | currency }}</td>
    <td>{{ cartItem.quantity }}</td>
    <td>{{ cartItem.quantity * cartItem.price | currency }}</td>
  </tr>

  }
</table>

<h5>Total Price : {{ getTotalPrice() | currency }}</h5>
